body,
html{min-height :100%;}

body {
margin: 0;
background: url(z5.Jpeg);  

background-size: cover;  
background-repeat:no-repeat;
padding:0;
text-align:center;	
}

.kontakt-tytuł
{
	margin-top: 100px;
	color: #fff;
	text-transform:uppercase;
	transition:all 4s ease-in-out;
}
.kontakt-tytuł h1 {
	font-size: 32px;
	line-height: 10px;
}
.kontakt-tytuł h2 {
	font-size: 16px;
	
}
form {
	margin-top: 50px;
	transition:all 4s ease-in-out;
	
}
.form-control
{
		width: 600px;
		background: transparent ;
		border: none;
		outline: none;
		border-bottom: 1px solid gray;
		color: #fff;
		font-size: 18px;
		margin-bottom:16px;
		
}
input{
	height: 45px;
	
}
form .submit {
	background:orange;
	border-color: transparent;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px; 
	height: 50px;
	margin-top: 20px;
	
}
form .submit:hover {
	background-color:#f44336;
	cursor:pointer;
	
}
.nav-logo{
	background: rgb (0,0,0, 0.5);
	height:80px;
	
}
.nav{
	float:right;
	list-style:none;
	margin:20px;
	
}
.nav li {
	display: inline-block;
	margin:10px 5px;
}

.nav li a{
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
	padding: 5px 10px;
	letter-spacing: 2px;
	border: 1px solid #fff;
	
}
.nav li a:hover{
	background: #fff;
	transition: .4s;
	color: #000;
}
.imageKontener
{
	width:200px;
	height:325px;
	overflow:hidden;
	
}
.imageKontener img {
	transition: transform .2s ease-in-out;
} 
.imageKontener img:hover{
	transform: translate3d(0px, -325px, 0px);
}

.pierwszy{
	background-color:white;
}


.btn {
	font-size:18px;
	letter-spacing:2px;
	margin:5px;
	padding:7px 10px;
	text-decoration: none;
	border:1px solid #fff; 
	
}
.btn1{
	background:#fff;
	color:#000;
}
.btn2{
	
	color:#fff;
}

